body{
    background-color: black;
}
.body {
    background-color: #f8f8f8;
    background-image: url('fotos/coracoes.gif');
    background-size: cover;
    background-repeat: repeat;
  }
  
  #carousel {
    width: 100%;
    max-width: 350px;
    height: 480px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .carousel-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 36px;
    cursor: pointer;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  /* Estilo para o mini-spotify */
  #music-player {
    margin-top: 50px;
    text-align: center;
  }
  
  #playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .song {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #e63946;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .song:hover {
    background-color: #c52b38;
  }
  
  /* Estilo para a mensagem de amor */
  .love-message-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .love-message {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: #fff;
    text-align: center;
  }
  .name-music{
    font-family: 'Arial', sans-serif;
    font-size: 42px;
    color: #fff;
    align-items: center;
  }
  .about-me{
    margin-top: 50px;
    text-align: center;
  }
  .about{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #fff;
    align-items: center;
    text-decoration: none;
  }
  .gay:hover {
    color: white;
  }
  .another{
    background-color: #f8f8f8;
    background-size: cover;
    background-repeat: repeat;
  }
  /* aqui */ 
  .player {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    background-color: #222224;
    width: 50%;
    height: 150px;
    margin: 0 auto;
    box-shadow: 0 1px 10px gray;
    padding: 10px;
    border-radius: 5px;
  }
  
  .logo {
    background-color: #ff4d4d;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
  .logo i {
    font-size: 200px;
    color: white;
  }
  
  #musicName {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 30px;
    color: #ff4d4d;
  }
  
  .controls {
    text-align: center;
  }
  
  .controls button {
    border: none;
    background-color: #ff4d4d;
    cursor: pointer;
    padding: 0px;
    border-radius: 50%;
  }
  
  .controls i {
    font-size: 60px;
    padding: 0px;
    border-radius: 50%;
    background-color: #ff4d4d;
    transition: all .2s;
    color: black;
  }
  
  .controls i:hover {
    background-color: #ff3333;
  }
  
  .time {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .time span {
    font-size: 22px;
    color: #333;
  }
  
  .footer {
    width: 100%;
  }
  
  .progress-bar {
    height: 8px;
    background-color: #ffcccc;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .progress {
    height: 8px;
    background-color: #ff4d4d;
    border-radius: 5px;
  }
